@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

:root {
    --sky-blue: #0284c7;
    --gold: #facc15;
    --light-grey: #e5e5e5;
    --grey: #4b5563;
}

/*Main Containers*/

.grid-container {
    display: grid;
    grid-template-columns: 230px 1fr;
    grid-template-rows: 140px 1fr;
    height: 100vh;
}

.header {
    grid-template-rows: 1fr 1fr;
    display: grid;
    grid-column: 2 / 3;
}

.sidebar {
    display: grid;
    grid-template-rows: 80px 250px 150px;
    background-color: var(--sky-blue);
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    color: white;
    font-weight: bold;
}

.main-content {
    display: grid;
    background-color: var(--light-grey);
    grid-template-columns: 1fr 275px;
    grid-template-rows: 1fr;
    padding-bottom: 25px;
    
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}

.main-content::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

/*Header Contents*/

#header-top {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

#search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 0px 25px;
}

#search input {
    flex: 1;
    height: 25px;
    border: none;
    background-color: var(--light-grey);
    border-radius: 15px;
    font-size: 1.1rem;
}

#search input:focus {
    outline: none;
    padding-left: 10px;
}

#profile {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
    gap: 20px;
    padding-right: 25px;
}

#profile-img {
    height: 40px;
    border-radius: 25px;
}

#header-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#profile-img-2 {
    height: 50px;
    border-radius: 30px;
}

#user-greet {
    display: flex;
    align-items: center;
    padding: 0 25px;
    gap: 15px;
    justify-self: left;
}

#greeting {
    display: flex;
    flex-direction: column;
}

#greeting p {
    margin: 0;
    font-weight: bold;
}

#greeting-top {
    font-size: 0.8rem;
}

#greeting-user {
    font-size: 1.2rem;
}

#button-container {
    display: flex;
    justify-content: right;
    gap: 25px;
    align-items: center;
    padding: 0 25px;
}

#button-container button {
    border: none;
    height: 30px;
    width: 75px;
    border-radius: 15px;
    background-color: var(--sky-blue);
    color: white;
    font-weight: bold;
}


/*Sidebar Content*/

#sidebar-top {
    display: grid;
    margin: 0 20px;
    grid-template-columns: 50px 1fr;
    justify-items: left;
    align-content: center;
    user-select: none;
}

#sidebar-middle, #sidebar-bottom {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 20px;
    justify-content: center;
    user-select: none;
}

#sidebar-middle div, #sidebar-bottom div {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
}

#sidebar-middle div:hover, #sidebar-bottom div:hover {
    text-shadow: 0px 1px 10px;
}

#sidebar h2 {
    font-size: 80%;
}

#icon {
    align-self: center;
}

/* Main Container */

#projects {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    padding: 0px 25px;
}

#card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 25px;
}

.card {
    position: relative;
    height: 175px;
    background-color: white;
    padding: 20px 15px;
    border-left: 7px solid var(--gold);
    border-radius: 7px;
}

.card-title {
    margin: 0;
    font-weight: bold;
}

.card-content {
    font-size: 0.9rem;
    color: var(--grey);
    text-align: start;
}

.card-icons {
    position: absolute;
    bottom: 15px;
    right: 20px;
    display: flex;
    gap: 20px;
}

/* Right Side Container */

#right-side-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#announcements, #trending {
    display: flex;
    flex-direction: column;
    margin-right: 25px;
}

.announcements-container, .trending-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    padding: 25px;
    gap: 15px;
    border-radius: 7px;
    height: 275px;
}

.announcement-card {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.announcement-title {
    font-size: 0.85rem;
    font-weight: bold;
    margin: 0;
}

.announcement-content {
    margin: 0;
    font-size: 0.75rem;
    color: var(--grey);
}

.card, .announcements-container, .trending-container {
    box-shadow: 3px 3px 10px rgba(94, 94, 94, 0.3);
}

.trending-card {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
}

.trending-content {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.trending-content p {
    margin: 0;
}

.user-name {
    font-weight: bold;
    font-size: 0.85rem;
}

.project {
    font-size: 0.8rem;
}

.user-icon {
    height: 40px;
}